/* =================================
  Base Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
  background: #d9e4ea;
  margin: 0;
}

header{
  text-align: center;
}



p {
	font-size: 1em;
	margin: 0;
  text-align: center;
}

footer{
  text-align: center;
}


h2,
h3,
a {
	color: #093a58;
}

h2,
h3 {
	margin: 0;
}

h1,
h2,
h3,
h4   {
  text-align: center;
}

h3{
  padding-top: 1em;
	color: #53b1e0;
	text-transform: uppercase;
	font-size: 1.3em;
}

h4{
  text-transform: uppercase;
	font-size: 2em;
}

img{
  max-width: 100%;
}

/* ---- Nav Styles ---- */

 .main-header {
	padding-top: 1em;
	padding-bottom: 10px;
  padding-left: 0;
	background: #cedae0;
	margin-bottom: 1em;
	margin-top: 0px;


}
  .main-nav li {
  	text-align: center;
  	background: white;
  	margin-top: 6px;
  	margin-bottom: 6px;
		border-radius: 5px;

  }

  .main-nav a {
  	padding: 10px 15px;
  	text-align: center;
  	display: block;
  	font-size: 1.2em;
  	color: #3a3a3a;
  	text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;

  }

	.main-nav a:hover {
		color: #53b1e0;
	}

  .main-nav{
    list-style-type: none;
    padding-left: 1em;
    padding-right: 1em;
  }

  .footer-nav{
    display: none;
  }

  .main-footer{
    margin: 20px;
    border-top: 1px solid lightgrey;
    text-align: center;
    background: #d9e4ea;
	}

	.footer-nav a {
  	padding: 10px 15px;
  	text-align: center;
  	display: block;
  	font-size: 1em;
  	color: #3a3a3a;
  	text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
  }


/* ---- Styles ---- */

.profile-image{
  padding: 10px;
  display: block;
  border: 2px solid darkgrey;
  border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
}

.main-wrap{
  background: white;
  width: 100%
}

.third-wrapper{
	background: white;
  width: 100%;
	position: relative;
	text-align: center;
	background: #d9e4ea;
}

.name{
	margin-top: 0px;
	text-shadow: 1px 1px 5px grey;
	font-size: 2em;
	font-family: 'Lemonada', cursive;
}

.intro{
  font-weight: lighter;
  padding: 10px 20px;
}

.intro-info{
	padding-bottom: 20px;
	width: 100%;
	display: block;

}


.col{
  padding-bottom: 1em;
  width: 100%;
	padding: 1em 1em 2em 1em;
	box-shadow: inset 1px 1px 5px #dcdfe0;
}

.portfolio-title{
padding-top: 2em;
padding-bottom: 2em;
text-transform: uppercase;
box-shadow: inset 1px 1px 5px #dcdfe0;
}

.sub-title{
padding-top: 1.2em;
padding-bottom: 1.2em;
}



.project-detail{
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.skills-image{
	opacity: 20%;
	height: 300px;
}

.skills{
	color: #093a58;
	font-size: 2em;
	font-family: 'Lemonada', cursive;
	text-shadow: 1px 1px 5px grey;
	padding-top: 0.8em;
	padding-bottom: 0.8em;
	margin: 0px;
}


.skill-list{
	text-decoration: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	line-height: 2.2em;
	margin-top: 3em;
}


.skill-li{
	font-size: 1.4em;
	color: #093a58;
	text-transform: uppercase;

}

.contact{
text-align: center;
padding-left: 1em;
padding-right: 1em;
padding-bottom: 3em;
padding-top: 3em;
}

.contact-intro{
  padding-bottom: .8em;
}

.back-to-top{
  float:right;
  display: inline-block;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 30px;
  text-transform: uppercase;
  text-decoration: none;
  height: 50px;
  width: 180px;
  font-size: 16px;
}


.footer-name{
  float:left;
  display: inline-block;
  margin-left: 0;
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 16px;
  height: 50px;
  width: 180px;
	text-shadow: 1px 1px 5px grey;
	font-family: 'Lemonada', cursive;
}

.email{
  text-decoration: none;
}


/* =================================
  Media Queries
==================================== */

@media (min-width: 768px) {

main{
		padding-left: 1em;
		padding-right: 1em;
	}

.main-wrap,
.secondary-wrap{
	border-radius: 10px;
}

.header-container{
    min-width: 300px;
}


.main-nav li{
  background: #cedae0;
  margin: 0;
	display: inline-block;
}

.profile-image{
	float: right;
	width: 50%;
	max-width: 250px;
	margin-right: 10%;
	margin-left: 5%;
}

.intro{
	font-size: 1.4em;
	margin-left: 6%;
	width: 50%;
	padding-top: 5%;
}

.col{
	float: left;
	width: 50%;
	padding: 0.5em;
	min-height: 450px;
}

.footer-nav {
	display: block;
	text-align: right;

}

.footer-nav li{
	display: inline-block;
}

.footer-nav ul{
	text-decoration: none;
}

.back-to-top{
	display: none;
}

.footer-name{
	font-size: 2em;
	width: auto;
	margin-top: 16px;
	margin-left: 1em;
}

.contact{
	font-size: 1.2em;
}

}
/* ---- New Media Query for Desktop---- */

@media (min-width: 1024px) {

	main{
		padding-left: 1em;
		padding-right: 1em;
	}

.header-container{
    min-width: 300px;
}

.name{
  float: left;
  margin-left: 30px;
  margin-top: 10px;
}


ul{
  float: right;
}

.main-nav li{
  float: left;
  background: #cedae0;
  margin: 0;
}

.profile-image{
	float: right;
	width: 50%;
	max-width: 250px;
	margin-right: 12%;
	margin-left: 5%;
}

.intro{
	font-size: 1.4em;
	margin-left: 8%;
	width: 50%;
	padding-top: 5%;
}

.col{
	float: left;
	width: 33.33%;
	padding: 1em 1em 1em 1em;
	min-height: 450px;
}

.skills-image{
	opacity: 20%;
	height: 400px;
}

.skills{
	color: #093a58;
	font-size: 2.5em;
	font-family: 'Lemonada', cursive;
	text-shadow: 1px 1px 5px grey;
	padding-top: 1.2em;
	padding-bottom: 1em;
	margin: 0px;
}



.skill-li{
	font-size: 2.5em;
	line-height: .5em;
	margin-top: 1em;
}

}

/* ---- Float clearfix ---- */

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
